h1 Listar Producto

h3 Filtrar por Proveedor:
    select([(ngModel)]="currentProvider", (change)="getProducts()")
        option(*ngFor="let provider of providers", [ngValue]="provider") {{ provider.name }}

p Productos de {{ (currentProvider || {}).name }}:

ul(*ngIf="products.length")
    li(*ngFor="let product of products")
        span (id: {{ product.id }}) {{ product.name }} 
