h1 Registrar Producto

div
    form
        p
            span Proveedor
            select([(ngModel)]="currentProvider", name="provider")
                option(*ngFor="let provider of providers", [ngValue]="provider") {{ provider.name }}
        p
            span Nombre del Producto
            input([(ngModel)]="product.name", type="text", name="productName")
        p
            button((click)="submitRegister()") registrar
