div

    h1 Users Console

    table
        tr
            th Name
            th Email
            th Role
        tr(*ngFor="let user of users")
            td {{ user.name }}
            td {{ user.email }}
            td {{ user.role }}

    hr

    h3 Register new User
    form
        p
            span Name
            input(name="name", [(ngModel)]="currentUser.name")
        p
            span Email
            input(name="email", [(ngModel)]="currentUser.email")
        p
            span Password
            input(name="password", type="password", [(ngModel)]="currentUser.password")
        p
            span Role
            select(name="role", [(ngModel)]="currentUser.role")
                option(value="admin") Admin
                option(value="seller") Seller
                option(value="incomes") Incomes
        p
            button((click)="registerUser()") Register


    div(style="opacity: 0; display: none;")
        router-outlet