h1 Detalles de Proveedor

h3 Filtrar por Proveedor:
    select([(ngModel)]="currentProvider", (change)="getProducts()")
        option(*ngFor="let provider of providers", [ngValue]="provider") {{ provider.name }}
  
p Id proveedor: {{ (currentProvider || {}).id }}
<br>
p Nombre del Proveedor:  {{ (currentProvider || {}).name }}

    
