h1 Detalles de Producto

h3 Filtrar por Proveedor:
    select([(ngModel)]="currentProvider", (change)="getProducts()")
        option(*ngFor="let provider of providers", [ngValue]="provider") {{ provider.name }}

p Productos de {{ (currentProvider || {}).name }}:

div(*ngIf="currentProvider")
    h3 Filtrar por Productos:
    select([(ngModel)]="currentProduct")
        option(*ngFor="let product of products", [ngValue]="product") {{ product.name }}

p
    span Nombre {{ (currentProduct || {}).name }}:

 
