h1 Ver Ordenes

p
    span Ingresar ID Producto
    input 

p
    button((click)="showLotsAction()") Buscar

div(*ngIf="showLots")
    p Lotes
    ul
        li (id: 234A32ABC34445CA)
        li (id: 12A46ABC4DA46ABC)
        li (id: A742BC84A435BC40)