h1 Listar Producto por Lote

h3 Filtrar por Proveedores:
    select([(ngModel)]="currentProvider", (change)="getProducts()")
        option(*ngFor="let provider of providers", [ngValue]="provider") {{ provider.name}}

div(*ngIf="currentProvider")
    h3 Filtrar por Productos:
    select([(ngModel)]="currentProduct", (change)="getLots()")
        option(*ngFor="let product of products", [ngValue]="product") {{ product.name }}

div(*ngIf="currentProduct")
    h3 Filtrar por Lotes:
    select([(ngModel)]="currentLot")
        option(*ngFor="let lot of lots", [ngValue]="lot") {{ lot.code }}


form(*ngIf="currentLot")
    
    p 
        span Proveedor   : 
        span {{ currentProvider.name }}
    
    p 
        span Producto    : 
        span {{ currentProduct.name }}
    
    p 
        span Lote    : 
        span {{ currentLot.code }}
    
    //- p
    //-     span Code   :
    //-     input([(ngModel)]="lot.code", name="code")
    
    //- p
    //-     button((click)="submitRegisterLot()") Submit