h1 Registrar Proveedor

div
    form
        p
            span Nombre de Proveedor
            input([(ngModel)]="provider.name", type="text", name="providerName")
        p
            button((click)="submitRegister()") registrar