div

    h1 Login

    form
        p
            span Email
            input(type="email", name="email", [(ngModel)]="credentials.email")
        p
            span Password
            input(type="password", name="password", [(ngModel)]="credentials.password")
        p
            button((click)="submitCredentials()") Login

    div(style="opacity:0; display:none;")
        router-outlet