
top-bar-height = 80px
left-panel-width = 250px
subtitle-background = #9e3300 

:host

    button
        &:focus
            outline none
    
    input
        margin 0px 10px 0px 10px
        font-size 15px
        border none
        border-bottom 1px solid #555
        padding 5px 10px 5px 10px
        &:focus
            outline none
            border-bottom 1px solid subtitle-background
    
    button
        font-size 15px
        border none
        border-bottom 1px solid #555
        padding 10px 20px 10px 20px
        background #DDD
        &:focus
            outline none
            border-bottom 2px solid subtitle-background
        &:active
            background #EEE
        
    
    select
        margin 0px 10px 0px 10px
        padding 5px 10px 5px 10px
        font-size 15px
        border none
        border-bottom 1px solid #555
        &:focus
            outline none
            border-bottom 1px solid subtitle-background

    .container
        position absolute
        left 0px
        top 0px
        width 100%
        height 100%

        .top-bar
            position absolute
            left 0px
            top 0px
            width 100%
            height top-bar-height
            background #000

            .username
                position absolute
                right 80px
                top 30px
                font-size 18px
                color #CCC
                font-family Arial
            
            .photo
                position absolute
                right 20px
                top 20px
                background grey
                width 40px
                height 40px
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
        
        .left-panel
            position absolute
            left 0px
            top top-bar-height
            width left-panel-width
            height "calc(100% - %s)" % top-bar-height
            background #222
            overflow auto

            .subtitle
                color #dedede
                font-size 16px
                text-align center
                font-family Arial
                font-weight normal
                background subtitle-background
                width 100%
                height 40px
                border none
            
            .actions-container
                button
                    width 100%
                    height 40px
                    border none
                    background #000
                    font-size 14px
                    color #AAA
        
        .content-container
            position absolute
            left left-panel-width
            top top-bar-height
            width "calc(100% - %s)" % left-panel-width
            height "calc(100% - %s)" % top-bar-height
            background #EEE
            font-family Arial
            color #333

            h1, h2, h3, h4, h5, h6
                margin 15px
                font-family Arial
                color #333
            
            div
                margin 15px

            p
                margin 10px
                font-family Arial
                color #555
                font-size 16px
                