div.container

    div(style="overflow: auto;").content-container
        router-outlet

    div.left-panel
        div(*ngFor="let module of modules")
            button.subtitle {{ module.name }}
            div.actions-container
                a(routerLink="{{ action.path }}", *ngFor="let action of module.actions")
                    button {{ action.name }}

    div.top-bar
        span.username {{ username }}
        div(
            style="background-color: #EEE; background: url(/statics/webapps/dashboard/src/res/user.png) no-repeat center center; background-size: cover;"
        ).photo
