h1 Detalle de Lotes

h3 Filtrar por Proveedores:
    select([(ngModel)]="currentProvider", (change)="getProducts()")
        option(*ngFor="let provider of providers", [ngValue]="provider") {{ provider.name}}

div(*ngIf="currentProvider")
    h3 Filtrar por Productos:
    select([(ngModel)]="currentProduct", (change)="getProductLots()")
        option(*ngFor="let product of products", [ngValue]="product") {{ product.name }}
        
//div(*ngIf="currentProduct")
//    h3 Filtrar por Lotes:
//    select([(ngModel)]="currentLot")
//        option(*ngFor="let lot of lots", [ngValue]="lotproduct") {{ lot.code }}


h3 Listar Lotes:
div(*ngIf="currentProduct")
div(*ngFor="let lot of lots") 
    ul
        li
            h3 Id:
            a {{ lot.id }} 
            <br>
            h3 Codigo:
            a {{ lot.code }}
            <br>
            h3 Fecha:
            a {{ lot.timestamp}}
