h1 Registrar Lote

h3 Filtrar por Proveedores:
    select([(ngModel)]="currentProvider", (change)="getProducts()")
        option(*ngFor="let provider of providers", [ngValue]="provider") {{ provider.name}}

div(*ngIf="currentProvider")
    h3 Filtrar por Productos:
    select([(ngModel)]="currentProduct")
        option(*ngFor="let product of products", [ngValue]="product") {{ product.name }}

form(*ngIf="currentProduct")
    
    p 
        span Proveedor   : 
        span {{ currentProvider.name }}
    
    p 
        span Producto    : 
        span {{ currentProduct.name }}
    
    p
        span Codigo   :
        input([(ngModel)]="lot.code", name="code")
    
    p
        button((click)="submitRegisterLot()") registrar